films.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT videotheque (categorie+)>
<!ELEMENT categorie (film*)>
<!ELEMENT film (titre, acteur+,realisateur+)>

<!ATTLIST categorie nom CDATA #REQUIRED>
<!ATTLIST film id ID #REQUIRED annee CDATA #REQUIRED duree CDATA #REQUIRED>
<!ATTLIST acteur nom CDATA #REQUIRED prenom CDATA #REQUIRED>

<!ELEMENT titre (#PCDATA)>